<!DOCTYPE html>
<html>

<head>
  <title>Recipe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/recipe.js"></script>
  <link rel="stylesheet" href="/css/recipe.css">

</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="backBtn" href="/recipes"></a>
        <div class="navbar-brand">{{name}}</div>
      </div>
    </div>
  </nav>
  <div class="container">

    <div class="content">
      <div class="recipe">
        <img src="/images/{{image}}" alt="{{name}} pic" class="img">
        <div class="recipe_info">
          {{!-- <div class="name">{{name}}</div> --}}
          <div class="des">{{description}}</div>
        </div>
        <button class="likeBtn">Like</button>
      </div>

      <hr>
      <div class="ingredient">Ingredients:
        <ul>
          {{#each ingredient}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <hr>
      <div class="steps">Steps:
        <ol>
          {{#each steps}}
          <li>{{this}}</li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="bottomBtn"><a id="startBtn" class="btn btn-primary" href="/recipe/{{name}}/step">Start Cooking</a></div>

  </div>

</body>

</html>